<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="betabase"
     providerName="System.Data.SqlClient"
     connectionString="UID=sa;PWD=Password123;Addr=127.0.0.1,1433;Database=Vulnerable;Connection Timeout=15;" />
  </connectionStrings>
</configuration>